* {
    box-sizing: border-box;
  }
body{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#main-doc{
    display: -webkit-flex;
    display: flex;


}

/* #main-doc .main-section{
    display: -webkit-flex;
    display: flex;

} */
nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
    
}
nav a{
    list-style-type: none;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
article{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;

}

/* side navigationn menu
#navbar{
    height: 100%;
    width: 30%;
    position: fixed;
    top: 10px;
    left: 0px;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
}
/* navigation links */
/* #navbar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
/* main section of the page */
/* #main-doc{
    width: 70%;
}   */
